<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add who's present</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<link th:href="@{/stylehome.css}" rel="stylesheet">
</head>

<!-- Page for adding yourself on the currently present list -->
<body>
	<h1>Who are you? and where are you?</h1>
	<div>
		<form th:object="${present}" th:action="@{saveH}" action="#" method="post">
		 	<input type="hidden" th:field="*{id}" class="form-control" />
	
			<input type="text" th:field="*{person}" />
			
			<select id="spacelist" th:field="*{space}" class="form-control">
 			<option th:each="space: ${spaces}" th:value="${space.sId}" 
 					th:text="${space.location}"></option>
			</select>
			
			<input type="submit" value="Save"></input>
		</form>
		<a th:href="@{home}">back</a>
	</div>
</body>
</html>