<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Studio Home</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<link th:href="@{/stylehome.css}" rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Cousine&family=Prompt:wght@100&family=Space+Mono&display=swap"
	rel="stylesheet">
</head>


<!-- the home page, links for all the pages, and list of people currently present-->
<body class="home">
	<h3>Where do you wanna go?</h3>
	<a th:href="@{downstairs}">downstairs</a>
	<a th:href="@{upstairs}">upstairs</a>
	<a th:href="@{sumu}" class="btn btn-primary">sumu</a>

	<h3>Currently present</h3>
	<table>
		<tbody>
			<!--   its present, cause in the controller it says present at model add attribute -->
			<tr th:each="present : ${people}">
				<td th:text="${present.person}"></td>
				<td th:text="${present.space.location}"></td> 
				<td><a th:href="@{/delete_H/{id}(id=${present.id})}"
					class="btn btn-xs btn-danger">I went home</a></td>
			</tr>
		</tbody>
	</table>
	<a href="/addH" class="btn btn-primary">Add yourself on the list</a>
	</br>
	
<!--  	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form> -->
</body>
</html>