body {
	background-color: #f4b3f4;
	color: white;
	font-size: 30px;
	margin-left: 250px;
	font-family: 'Cousine', monospace;
	
}

a:hover {
	color: white;
}

a {
	
	color: black;
	margin: 20px;
	font-size: 20px;
}

form {
	margin-left: 100px;
	margin-top: 10px;
}
