<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Studio Home</title>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
		<link th:href="@{/style.css}" rel="stylesheet">
	</head>


<!-- the main page, should show tasks for now, doesnt work yet, problem with todo : ${todos} ? -->
<body>
	<h1>Where do you wanna go?</h1>
	<a th:href="@{downstairs}">alakerta</a>
	<a th:href="@{upstairs}">yläkerta</a>
	<a th:href="@{sumu}" class="btn btn-primary">sumu</a>
</body>
</html>