<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sumu</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
		<link href="/styleD.css" rel="stylesheet">
</head>


<!-- Sumu page, shows sumus tasks-->
<body>
	<h1>sumu</h1>
	<table>
		<tbody class="tasklist">
			<tr>
				<th>Task</th>
				<th>Who</th>
				<th>Priority</th>
			</tr>
			
			<!-- its tasks, cause in the controller it says tasks at model add attribute -->
			<tr th:each="todo : ${tasks}">
				<td th:text="${todo.task}"></td>
				<td th:text="${todo.who}"></td>
				<td th:text="${todo.priority.urgency}"></td>
			  	<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete_S/{id}(id=${todo.id})}"class="btn btn-xs btn-danger">Delete</a></td>
				<td><a th:href="@{/edit_S/{id}(id=${todo.id})}" class="btn btn-success">Edit</a></td> 
			</tr>
		</tbody>
	</table>
	<a href="/addS" class="btn btn-primary">Add New Task</a>
	<a th:href="@{home}">back home</a>
</body>
</html>