<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit D Task</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<link th:href="@{/styleD.css}" rel="stylesheet">
</head>

<body>
	<h1>Edit D Task</h1>
	<div>
		<form th:object="${todo}" th:action="@{../saveU}" action="#" method="post">
			<input type = "hidden" th:field="*{id}" class = "form-control"/>
			<input type = "hidden" th:field="*{place}" class = "form-control"/>
			<input type ="text" th:field="*{task}"/>
			<input type ="text" th:field="*{who}"/>

			<label for="prioritylist">Priority</label>
			<select id="prioritylist" th:field="*{priority}" class="form-control">
 			<option th:each="priority: ${priorities}" th:value="${priority.pId}" 
 					th:text="${priority.urgency}"></option>
			</select>

			<input type="submit" class="btn btn-success" value="Save"></input>
		</form>
	</div>
	<a th:href="@{/downstairs}">back</a>
</body>
</html>